<ul class="container-list">
    <li *ngFor="let s of skeletons" class="item skeleton">
      <div class="item-img">
        <div class="skeleton-img"></div>
      </div>
      <span class="desc">
        <p class="title"><span class="skeleton-title"></span></p>
        <p class="cat"><span class="skeleton-cat"></span></p>
      </span>
    </li>
  </ul>
