.select {
  position: relative;
  &:after{
    content: "";
    position: absolute;
    width: 10px;
    height: 8px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: white;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) scaleY(-1);
  }
  &:focus {
    outline: none;
  }
  select {
    font-size: 15px;
    min-height: 50px;
    width: 300px;
    border-radius: 999999px;
    background-color: rgba(0, 0, 0, 0.04);
    border: none;
    padding-left: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;background-image: linear-gradient(90deg, rgb(114, 7, 74),rgb(232, 54, 104));
    color: white;
    &:focus {
      outline: none;
    }
  }
}
