@import url("https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans&family=Roboto:wght@300&display=swap");

.more-cocktails-wrapper {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
  @media (max-width: 991px) {
    padding: 0 60px;
  }
  & > .container {
    display: flex;
    flex-direction: column;
  }
  h3 {
    font-size: 40px;
    margin-bottom: 40px;
  }
}
.single-drink {
  width: 100vw;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;

  .container {
    margin-top: 80px;
    padding: 80px 0;
    align-items: center;
    color: #2a2f36;
    font-weight: lighter;
  }

  .bg {
    position: absolute;
    top: -130px;
    right: 0px;
    z-index: -1;

    & > h1 {
      font-family: "Lora", serif;
      color: #efefef;
      font-size: 350px;
      opacity: 0.7;
      font-weight: lighter;
      white-space: nowrap;
    }
  }

  .right {
    padding: 100px 0 0 60px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;

    & > .bottom {
      position: relative;
      padding-top: 40px;

      &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #e5e5e5;
      }

      h3 {
        font-size: 40px;
        margin-bottom: 20px;
      }

      ul {
        list-style: url("../../assets/img/cocktail.svg");
        margin-left: 20px;
        margin-bottom: 30px;

        li {
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }

    & > .top {
      position: relative;
      height: fit-content;
      margin-bottom: 40px;
      width: fit-content;

      & > h1 {
        font-family: "Lora", sans-serif;
        font-size: 100px;
        font-weight: lighter;
        color: #0f3852;
      }

      & > p {
        color: #f35858;
        font-size: 30px;
        width: 100%;
        text-align: right;
      }
    }
  }

  .left {
    width: 40%;

    .img {
      width: 100%;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      margin-bottom: 20px;

      ::ng-deep img {
        width: 100%;
      }
    }
  }

  @media (max-width: 420px) {
    width: 100vw;
    .container {
      padding: 60px 20px;
    }

    .bg {
      top: -130px;
      right: 100px;

      & > h1 {
        font-size: 150px;
      }
    }

    .right {
      padding: 20px 0 60px 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      & > .bottom {
        padding-top: 40px;

        &:after {
          top: 0;
          left: 0;
          width: 100%;
        }

        h3 {
          font-size: 40px;
          margin-bottom: 20px;
        }

        ul {
          margin-left: 20px;
          margin-bottom: 30px;

          li {
            &:not(:last-child) {
              margin-bottom: 10px;
            }
          }
        }
      }

      & > .top {
        height: fit-content;
        margin-bottom: 20px;
        width: fit-content;

        & > h1 {
          font-size: 100px;
        }

        & > p {
          font-size: 30px;
          width: 100%;
          text-align: left;
        }
      }
    }

    .left {
      width: 100%;

      .img {
        width: 300px;
        border-radius: 8px;
        margin-bottom: 20px;

        ::ng-deep img {
          width: 100%;
        }
      }
    }
  }
  @media (max-width: 991px) {
    width: 100vw;
    .container {
      margin-top: 0;
      padding: 160px 60px 20px 60px;
      align-items: center;
      flex-direction: column;
    }

    .bg {
      top: -130px;
      right: 0;

      & > h1 {
        font-size: 250px;
      }
    }

    .right {
      padding: 20px 0 60px 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      & > .bottom {
        padding-top: 40px;

        &:after {
          top: 0;
          left: 0;
          width: 100%;
        }

        h3 {
          font-size: 40px;
          margin-bottom: 20px;
        }

        ul {
          margin-left: 20px;
          margin-bottom: 30px;

          li {
            &:not(:last-child) {
              margin-bottom: 10px;
            }
          }
        }
      }

      & > .top {
        height: fit-content;
        margin-bottom: 20px;
        width: fit-content;

        & > h1 {
          font-size: 100px;
        }

        & > p {
          font-size: 30px;
          width: 100%;
          text-align: left;
        }
      }
    }

    .left {
      width: 100%;

      .img {
        width: 300px;
        border-radius: 8px;
        margin-bottom: 20px;
        ::ng-deep img {
          width: 100%;
        }
      }
    }
  }
}
