<section class="single-drink">
  <div class="bg">
    <h1>{{ cocktail.name }}</h1>
  </div>
  <div class="container">
    <div class="left">
      <div class="img">
        <app-image [src]="cocktail.thumbnail ? cocktail.thumbnail : cocktail.imageSource"></app-image>
      </div>
      <p><strong>Type:</strong> {{ cocktail.alcoholic }}</p>
      <p><strong>Glass:</strong> {{ cocktail.glass }}</p>

    </div>
    <div class="right">
      <div class="top">
        <h1>{{ cocktail.name }}</h1>
        <p>{{ cocktail.category }}</p>
      </div>
      <div class="bottom">
        <h3>Ingredients</h3>
        <ul>
          <li *ngFor="let ingredient of cocktail.ingredients">
            {{ ingredient }}
          </li>
        </ul>

        <h3>Instructions</h3>
        <p>{{ cocktail.instructions }}</p>
      </div>
    </div>
  </div>
</section>

<section class="more-cocktails-wrapper">
  <div class="container">
    <h3>Ces cocktails pourraient vous interresser</h3>
    <app-more-cocktails></app-more-cocktails>
  </div>

</section>