<section class="single-drink">
  <div class="bg">
    <h1>{{ cocktail?.strDrink }}</h1>
  </div>
  <div class="container">
    <div class="left">
      <div class="img">
        <img src="{{ cocktail?.strImageSource ? cocktail?.strImageSource : cocktail?.strDrinkThumb }}"
             alt="{{ cocktail?.strDrink }}"/>
      </div>
      <p><strong>Type:</strong> {{ cocktail?.strAlcoholic }}</p>
      <p><strong>Glass:</strong> {{ cocktail?.strGlass }}</p>

    </div>
    <div class="right">
      <div class="top">
        <h1>{{ cocktail?.strDrink }}</h1>
        <p>{{ cocktail?.strCategory }}</p>
      </div>
      <div class="bottom">
        <h3>Ingredients</h3>
        <ul>
          <li *ngFor="let ingredient of getIngredients(cocktail)">
            {{ ingredient }}
          </li>
        </ul>

        <h3>Instructions</h3>
        <p>{{ cocktail?.strInstructions }}</p>
      </div>
    </div>
  </div>
</section>

<section class="more-cocktails-wrapper">
  <div class="container">
    <h3>Ces cocktails pourraient vous interresser</h3>
    <app-more-cocktails></app-more-cocktails>
  </div>

</section>
