@import url('https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans&family=Roboto:wght@300&display=swap');
.more-cocktails{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  .item{
    width: calc(33% - 30px);

    &>a{
      text-decoration: none;
      display: block;

      &:hover {
        .item-img {
          box-shadow: rgba(232, 54, 104, 0.34) 3px 10px 30px -3px;
          img {
            transform: scale(1.03);
          }
        }
      }
      .item-img{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        transition: box-shadow .2s ease-in-out;
        border-radius: 8px;
        overflow: hidden;

        img {
          transition: transform .5s ease-out;
        }
      }
      .desc{
        padding: 10px;
        color: #2a2f36;
        .title{
          font-size: 30px;
          font-family: "Lora";
          margin-bottom: 10px;
        }
      }
    }
    ::ng-deep img{
      width: 100%;
    }

  }
}
