<section class="more-cocktails">
  <div *ngFor="let cocktail of cocktails" class="item">
    <a [href]="'/drink/'+cocktail.idDrink">
      <div class="item-img">
        <img src="{{cocktail?.image}}" alt="{{ cocktail?.strDrink }}"/>
      </div>
      <span class="desc">
      <p class="title">
      {{cocktail?.strDrink }}
      </p>

      <p class="cat">
        {{cocktail?.strCategory }}
      </p>
      </span>
    </a>
  </div>
</section>
<!--  <div class="bg">-->
<!--    <h1>{{ cocktail?.strDrink }}</h1>-->
<!--  </div>-->
<!--  <div class="container">-->
<!--    <div class="left">-->
<!--      <div class="img">-->
<!--        <img src="{{ cocktail?.strImageSource ? cocktail?.strImageSource : cocktail?.strDrinkThumb }}"-->
<!--             alt="{{ cocktail?.strDrink }}"/>-->
<!--      </div>-->
<!--      <p><strong>Type:</strong> {{ cocktail?.strAlcoholic }}</p>-->
<!--      <p><strong>Glass:</strong> {{ cocktail?.strGlass }}</p>-->

<!--    </div>-->
<!--    <div class="right">-->
<!--      <div class="top">-->
<!--        <h1>{{ cocktail?.strDrink }}</h1>-->
<!--        <p>{{ cocktail?.strCategory }}</p>-->
<!--      </div>-->
<!--      <div class="bottom">-->
<!--        <h3>Ingredients</h3>-->
<!--        <ul>-->
<!--          <li *ngFor="let ingredient of getIngredients(cocktail)">-->
<!--            {{ ingredient }}-->
<!--          </li>-->
<!--        </ul>-->

<!--        <h3>Instructions</h3>-->
<!--        <p>{{ cocktail?.strInstructions }}</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
