<section class="more-cocktails" *ngIf="!isLoading">
  <div *ngFor="let cocktail of cocktails" class="item">
    <a [href]="'drink/'+cocktail.id">
      <div class="item-img">
        <app-image [src]="cocktail?.thumbnail" ></app-image>
      </div>
      <span class="desc">
      <p class="title">
      {{cocktail?.name }}
      </p>

      <p class="cat">
        {{cocktail?.category }}
      </p>
      </span>
    </a>
  </div>
</section>
<app-skeleton *ngIf="isLoading" [number]="3"></app-skeleton>

