.topnav {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  list-style: none;
  position: relative;
  padding-top: 50px;
  @media screen and (max-width: 1200px) {
    padding: 0 20px;
  }
}

.site-logo {
  display: inline-block;
  text-decoration: none;
  color: #2a2f36;
  font-family: "Noto Sans";
  transition: transform 0.2s ease-in-out;
  h2 {
    color: #fff;
    font-size: 40px;
    position: absolute;
    &:nth-child(1) {
      color: #e3e3e3;
    }
    &:nth-child(2) {
      color: #f35858;
      animation: animate 4s ease-in-out infinite;
    }
  }
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
