.search {
  &-bar {
    min-height: 50px;
    width: 300px;
    border-radius: 999999px;
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-image: linear-gradient(90deg, rgb(232,54,104),rgb(114,7,74));
  }

  &-input {
    height: 50px;
    width: 100%;
    padding: 10px 50px 10px 15px;
    background: none;
    border: none;
    color: white;
    font-size: 15px;
    &:focus{
      outline: none;
    }
  }

  &-icon {
    svg{
    transform: scale(0.7);
      fill: white;
    }
  }
}


