.search {
    &-bar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--black);
    padding: 5px;
    max-width: 300px;
    overflow: hidden;
    }
    &-input {
        border: none;
        outline: none;
        padding: 10px;
        font-size: 22px;
        background: transparent;
        color: var(--black);
        &::placeholder {
            color: var(--black);
        }
    }
}


