.search {
    &-bar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--black);
    padding: 5px;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    }
    &-input {
        border: none;
        outline: none;
        padding: 10px;
        flex-grow: 1;
        background: transparent;
        color: var(--black);
        &::placeholder {
            color: var(--black);
        }
    }
    &-icon {
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 9999px;
        margin-right: 5px;
        svg {
            width: 20px;
            height: 20px;
            fill: var(--black);
        }
    }
}


