.container-list {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  list-style: none;
  position: relative;
  gap: 30px;
  @media screen and (max-width: 1200px) {
    padding: 0 20px;
  }
  @media screen and (max-width: 991px) {
    gap: 15px;
    justify-content: center;
  }
  .item {
    width: calc(33.333% - 30px);
    margin-top: 50px;

    & > a {
      text-decoration: none;
      display: block;

      &:hover {
        .item-img {
          box-shadow: rgba(232, 54, 104, 0.34) 3px 10px 30px -3px;
          ::ng-deep img {
            transform: scale(1.03);
          }
        }
      }

      .item-img {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
          rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        transition: box-shadow 0.2s ease-in-out;
        border-radius: 8px;
        overflow: hidden;

        ::ng-deep img {
          transition: transform 0.5s ease-out;
        }
      }

      .desc {
        padding: 10px;
        color: #2a2f36;

        .title {
          font-size: 30px;
          font-family: "Lora";
          margin-bottom: 10px;
        }
      }
    }

    ::ng-deep img {
      width: 100%;
    }
  }
}
.results {
  margin: 0 auto;
  max-width: 1200px;
  @media screen and (max-width: 1200px) {
    padding: 0 20px;
  }
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  p {
    font-size: 18px;
    font-weight: 600;
    color: #2a2f36;
    margin: 20px 0;
  }
}
.pagination-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
  gap: 10px;
  @media screen and (max-width: 991px) {
    margin-bottom: 50px;
    padding: 0 20px;
  }

  a {
    text-decoration: none;
    color: #2a2f36;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.04);
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    @media (max-width: 991px) {
      font-size: 16px;
      padding: 8px 12px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
      padding: 6px 10px;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &.active {
      background-color: rgba(0, 0, 0, 0.1);
      outline: 1px solid #2a2f36;
    }
  }
}
