.container-list {
  margin: 0 50px;
  padding: 0px 100px;
  display: flex;
  height: 100%;
  justify-content: space-between;
  background: var(--primaryLight);
  gap: 20px;
  flex-wrap: wrap;
  li {
    list-style: none;
    width: 300px;
    height: fit-content;
    a {
      color: var(--white);
      letter-spacing: 4px;
      padding: 25px;
      
    }
    span {
      font-size: 1.5rem;
      font-weight: bold;
      font-weight: lighter;
      color: var(--dark-blue);
      font-family: var(--Lora);
      display: block;
      font-style: italic;
      text-align: right;
      font-size: 42px;
    }
    figure {
      margin: 0;
      overflow: hidden;
      display: block;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
