.container-list {
  margin: 0 auto;
  margin-top: 300px;
  padding: 100px 100px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--dark-blue);
  gap: 100px;
  flex-wrap: wrap;
  background-color: var(--primaryLight);
  li {
    list-style: none;
    width: 300px;
    height: fit-content;
    a {
      font-family: var(--Lora);
      color: var(--white);
      letter-spacing: 4px;
      padding: 25px;
      font-weight: lighter;

    }
    span {
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--dark-blue);
      display: block;
      font-style: italic;
      text-align: right;
      font-size: 42px;
    }
    figure {
      margin: 0;
      border-radius: 4px;
      overflow: hidden;
      display: block;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
