<section class="pagination-wrapper">
  <div class="results" *ngIf="!isLoading">
    <p> {{results}}</p>
  </div>
  <app-skeleton *ngIf="isLoading" [number]="9"></app-skeleton>
  <ul class="container-list" *ngIf="!isLoading">
    <li *ngFor="let cocktail of cocktailsToShow" class="item">
      <a [href]="'drink/'+cocktail.id">
        <div class="item-img">
          <app-image [src]="cocktail?.thumbnail"></app-image>
        </div>
        <span class="desc">
          <p class="title">
            {{cocktail?.name }}
          </p>

          <p class="cat">
            {{cocktail?.category }}
          </p>
        </span>
      </a>
    </li>
  </ul>

  <div class="pagination" *ngIf="pages > 1">
    <a *ngIf="pagination[0] !== '1'" (click)="onSelectPage(1)" (keydown.enter)="onSelectPage(1)" tabindex="0">1</a>
    <a *ngFor="let page of pagination" (click)="onSelectPage(page)" (keydown.enter)="onSelectPage(page)" tabindex="0" [class.active]="isActivedPage(page)">
      {{ page }}
    </a>
  </div>
</section>