/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans&display=swap');
html{
  font-family: 'Noto Sans', sans-serif;
}

:root{
  --NotoSans: 'Noto Sans', sans-serif;
  --Lora: 'Lora', serif;
  --white: #FAFFFE;
  --black: #1D1D1D;
  --primary: #00A8E8;
  --primaryLight: #EDFCFF;
  --accent: #F35858;
}
body{
  background-image: linear-gradient(37deg, rgb(237,252,255),rgb(255,255,255));
}


