/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans", sans-serif;
}

:root {
  --NotoSans: "Noto Sans", sans-serif;
  --Lora: "Lora", serif;
  --white: #fafffe;
  --black: #1d1d1d;
  --primary: #00a8e8;
  --primaryLight: #edfcff;
  --accent: #f35858;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans&display=swap");
html {
  font-family: "Noto Sans", sans-serif;
}

:root {
  --NotoSans: "Noto Sans", sans-serif;
  --Lora: "Lora", serif;
  --white: #fafffe;
  --black: #1d1d1d;
  --primary: rgb(0, 164, 230);
  --primaryLight: #edfcff;
  --accent: #f35858;
  --dark-blue: #0f3852;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  body {
    background-image: linear-gradient(
      37deg,
      rgb(237, 252, 255),
      rgb(255, 255, 255)
    );
  }
}

a {
  text-decoration: none;
  color: var(--black);
}
