.header {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1200px;
    &__form {
        display: flex;
        align-items: center;
      gap: 20px;
      .checkbox-wrapper{
        #non-alcoholic{
          margin-right: 10px;
          cursor: pointer;
        }

      }
    }
}
