<header class="header">
  <form class="header__form" [formGroup]="form">
    <app-input-search (searchEvent)="onSearch($event)"></app-input-search>
    <app-select (selectEvent)="onSelectCategory($event)" [options]="categories"></app-select>
    <div class="checkbox-wrapper">
      <input type="checkbox" formControlName="nonAlcoholic" id="non-alcoholic">
      <label for="non-alcoholic">Non-Alcoholic</label>
    </div>
  </form>
</header>
<app-list-item [isLoading]="isLoading"
  [cocktails]="cocktails | category: category | nonAlcoholic: nonAlcoholic"></app-list-item>