.header {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1200px;
  &__form {
    display: flex;
    align-items: center;
    @media screen and (max-width: 1200px) {
      padding: 0 20px;
    }
    @media screen and (max-width: 991px) {
      flex-direction: column;
      justify-content: center;
    }

    gap: 20px;
    .checkbox-wrapper {
      #non-alcoholic {
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
}
